main {
  padding: 2rem 5rem;
  min-width: 60%;
}

/* =================== */
/* step 1 - info form */
/* ================= */

.title,
label {
  color: #092951;
}
.title {
  margin-bottom: 0px;
}
.description {
  margin-top: 6px;
}
.form {
  margin-top: 2rem;
}
form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
}
form label {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}
form label .required, form label .invalid {
  color: red;
}
form input {
  border: 0.75px solid #00000050;
  text-indent: 8px;
  border-radius: 6px;
  height: 42px;
  color: #092951;
  outline: none;
}

form input:focus {
  border: 2px solid #280951c7;
}


/* ===================== */
/* step 2 - select plan */
/* =================== */
.plan-card, .toggle-plan{
  color: #092951;
  border-radius: 10px;
}

.plan-card:hover, 
.plan-card.selected,
.toggle-plan{
  background-color: #eef5ff;
}

.plan-card-container{
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}
.plan-card{
  width: 30%;
  padding: 1.3rem;
  border: 0.75px solid #00000050;
}
.plan-card.selected{
  border: 2px solid #280951c7;
}

.plan-card:hover{
  cursor: pointer;
}

.toggle-plan{
  min-width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggler{
  margin: 0 20px;
}

.toggler .inner{
  width: 70px;
  height: 30px;
  background-color: #092951;
  border-radius: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggler .circle{
  width: 25px;
  height: 25px;
  margin-left: 2px;
  background-color: #fff;
}

/* ====================== */
/* ===== footer ======== */
/* ==================== */
footer {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 46px;
  width: 120px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.go-back {
  border: 0.7px solid #00000050;
}

.next-step {
  background-color: #092951;
  color: white;
  border: none;
}

.next-step.end {
  position: relative;
  left: 74%;
}
